SUPABASE_URL = "https://zygiuhovmbzbysmdfnss.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5Z2l1aG92bWJ6YnlzbWRmbnNzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU1ODEzNSwiZXhwIjoyMDkwMTM0MTM1fQ.YVH1btoShhhVMtHGl_mZymjqK6es3hJO8mrcXPEwNI4"
